:root {
  --primary: #fff085;
  --secondary: #fcb454;
  --bg: #fef9e1;
  --font: #454545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--font);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 1.4rem 7%;
  margin-bottom: 2rem;
  align-items: center;
}

.navbar .navbar-logo {
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--primary);
}

.navbar span {
  color: var(--bg);
  font-size: 3.5rem;
}
