<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Event</title>
</head>
<body>
    <h2>Tambah Event Baru</h2>
        <form action="/admin/events" method="POST" enctype="multipart/form-data">
        <label>Judul:</label>
        <input type="text" name="title" required /><br />

        <label>Tanggal:</label>
        <input type="date" name="date" required /><br />

        <label>Deskripsi:</label>
        <textarea name="description" required></textarea><br />

        <label>Poster:</label>
        <input type="file" name="poster" accept="image/*" required /><br />

        <button type="submit">Tambah Event</button>
    </form>
    <a href="/admin">Kembali ke Dashboard</a>

</body>
</html>