<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
  </head>
  <body>
    <h2>Upload Gambar</h2>
    <form action="/admin" method="POST" enctype="multipart/form-data">
      <input type="text" name="text" placeholder="Deskripsi" required /><br />
      <input type="file" name="image" required /><br />
      <button type="submit">Upload</button>
    </form>

    <hr />

    <h3>Gambar yang Sudah Diupload</h3>
    <% images.forEach(image => { %>
    <div>
      <p><%= image.text %></p>
      <img src="<%= image.imagePath %>" width="200" />
    </div>
    <% }) %>

    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
