<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing | Node Auth</title>
    <link rel="stylesheet" href="/style/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <h1>Welcome to Festify</h1>
    <ul class="nav">
      <li>
        <button><a href="/login">Login</a></button>
      </li>
      <li>
        <button><a href="/register">Register</a></button>
      </li>
    </ul>
    <!-- <h3>This is the Landing Page of The Website</h3> -->
  </body>
</html>
