<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Node Auth</title>
    <link rel="stylesheet" href="/style/login-register.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-logo"><span>f</span>estify.</a>
    </nav>
    <section class="container">
      <div class="login-form">
        <h2>Login</h2>
        <form action="/login" method="POST">
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" />
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" />
          </div>
          <button>Login</button>
        </form>
        <h3>Belum ada akun?</h3>
        <a href="/register">Register</a>
      </div>
    </section>

    <div class="admin">
      <form action="/loginAdmin" method="GET">
        <button type="submit">Login Admin</button>
      </form>
    </div>
  </body>
</html>
