<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/style/login-register.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-logo"><span>f</span>estify.</a>
    </nav>

    <section class="container">
      <div class="login-form">
        <h3>Masukan kode admin</h3>
        <form action="/loginAdmin" method="POST">
          <input
            type="password"
            name="adminKey"
            placeholder="Masukkan kode rahasia"
            required
          />
          <button type="submit">Login Admin</button>
        </form>
        <% if (error) { %>
        <p style="color: red"><%= error %></p>
        <% } %>
        <a href="/login">Kembali ke login biasa</a>
      </div>
    </section>
  </body>
</html>
