<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Node Auth</title>
    <link rel="stylesheet" href="/style/login-register.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-logo"><span>f</span>estify.</a>
    </nav>
    <section class="container">
      <div class="login-form">
        <h3>Register</h3>
        <form action="/register" method="POST">
          <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" name="username" />
          </div>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" />
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" />
          </div>
          <button>Register</button>
        </form>
        <h3>sudah ada akun?</h3>
        <a href="/login">Login</a>
      </div>
    </section>
  </body>
</html>
